/*GENERAL STYLES*/

html, body {
    background-color: #F6EEE3;
    color: #6B584D;
    margin: 0;
    padding:0;
    width: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

/*TITLES*/

.page-title {
    color: #3F281D;
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, serif;
}

.section-title {
    color: #3F281D;
    font-size: 28px;
    font-weight: bold;
    font-family: Georgia, serif;
}


/*Card Containers*/

.card {
    background-color: #FFFDF8;
    border: 1px solid #E6D8C8;
    border-radius: 15px;
    padding: 20px;
}


/*Interactive Buttons*/

.button {
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.button-brown {
    background-color: brown;
    color: white;
}

.button-white {
    background-color: white;
    color: brown;
    border: 1px solid brown;
}

/*Normal Body Text*/

.normal-text {
    color: #6B584D;
}

/*Navigation Bar Styles */

.navbar {
    width: 100%;
    height: 90px;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFDF9;
}

.nav-brand {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav-title a {
    color: #3F281D;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: #6B584D;
    text-decoration: none;
}

.nav-links a:hover {
    color: #B52A2A;
}

.nav-image-logo img {
    width: 55px;
    height: 55px;
    object-fit: contain;
}